.App {
  display: grid;
  grid-template-rows: min-content auto min-content;
  height: 100vh;
  padding: 12px;
  gap: 20px;
  touch-action: manipulation;
}

.App__player-list {
  display: grid;
  align-content: start;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.App__buttons {
  display: grid;
  gap: 12px;
}
